.red1{
    background-color: red;
    width: 1000px;
    height: 150px;
}
#blue1{
    background-color: #002868;
    width: 1000px;
    height: 300px;
}
#white1{
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 400px;
    position: absolute;
    margin-top: 50px;
}
h1{
    color: white;
    text-align: center;
    font-size: 100px;
    font-weight: normal;
}
#of1{
    padding-left: 53px;
    margin: 0px;
    font-size: 70px;
    margin-left: 10px;
}
#laos1{
    margin: 0;
    font-size: 70px;
    padding: 0;
    margin-left: 33px;
}
